html {
    background: rgb(29, 132, 235);
    background: linear-gradient(-25deg, rgba(29, 132, 235, 1) 10%, rgba(255, 255, 255, 0) 10.1%, rgba(255, 255, 255, 0) 48%, rgba(255, 255, 255, 0) 90%, rgba(29, 132, 235, 1) 90.1%) no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}


body {
    font-size: 1rem;
    line-height: 1.618;
    max-width: 38em;
    margin: auto;
    color: rgb(70, 70, 70);
}

@media (max-width: 960px) {
    html {
        background: white;
    }
}

.navLinkText {
    text-decoration: none;
    color:#1D84EB;
}

.navLinkText:hover {
    color: rgb(70, 70, 70);
}

.active {
    color: #5c5c5c;
}


/**Contact Form CSS**/
.contact form {
    border: 0.2px solid rgb(230, 230, 230);
    padding: 1rem;
}


/*Success Message*/
.contact div {
    color: #1D84EB;
    font-size: 1em;
}

/*Name and Mail inputs*/
.contact form div div input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: rgb(243, 243, 243);
    border: none;
    padding: 20px;

}

/*Form abels */
.contact form div div label {
    font-weight: bold;
    color: rgb(70, 70, 70);
    font-size: 1em;
}


/*Error messages*/
.contact form div div div{
    color: rgb(125, 112, 240);
}


/*Textarea*/
.contact div div textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: rgb(243, 243, 243);
    border: none;
    resize: none;
    padding: 20px;
}

/*Submit button */
.contact button {
    border: none;
    background: rgb(29, 132, 235);
    padding: 10px 30px 10px 30px;
    margin-top: 10px;
    border-radius: 10px
}

/*Submit button when mouse hover */
.contact button:hover {
    background: rgb(70, 70, 70);
}


/**Social Links List**/
.filter-bw {
    filter: grayscale(100%);
}

.filter-bw:hover {
    filter: grayscale(0%);
    opacity: 90%;
}

/**Blog List**/
.blogPostTitle:hover {
    color:rgb(70, 70, 70);
}